<div class="sidebar" [class.collapsed]="collapsed">
  <div class="logo-container">
    <div class="logo">
      <img src="assets/logo.svg" alt="Logo">
      <span @if="!collapsed">Photo Admin</span>
    </div>
  </div>
  
  <div class="menu-container">
    <ul class="menu-items">
      <li @for="let item of menuItems" 
          [class.active]="item.active"
          (click)="navigateTo(item.route)">
        <i class="feather-icon" [ngClass]="'icon-' + item.icon"></i>
        <span @if="!collapsed">{{ item.title }}</span>
      </li>
    </ul>
  </div>
  
  <div class="user-container">
    <div class="user-profile" (click)="logout()">
      <div class="avatar">
        <img src="assets/avatar.jpg" alt="User Avatar">
      </div>
      <div class="user-info" @if="!collapsed">
        <span class="user-name">Admin User</span>
        <span class="logout">Logout</span>
      </div>
    </div>
  </div>
</div>
