
<div class="sidebar" [class.collapsed]="collapsed">
    <div class="logo-container">
      <div class="logo">
        <img src="../../../../public/logo.png" alt="Logo">
        @if (!collapsed) {
          <span>מערכת ניהול</span>
        }
      </div>
    </div>
    
    <div class="menu-container">
      <ul class="menu-items">
        @for (item of menuItems; track item.route) {
          <li 
            [class.active]="item.active"
            (click)="navigateTo(item.route)">
            <i class="feather-icon" [ngClass]="'icon-' + item.icon"></i>
            @if (!collapsed) {
              <span>{{ item.title }}</span>
            }
          </li>
        }
      </ul>
    </div>
    
    <div class="user-container">
      <div class="user-profile" (click)="logout()">
        <div class="avatar">
          <img src="assets/avatar.jpg" alt="User Avatar">
        </div>
        @if (!collapsed) {
          <div class="user-info">
            <span class="user-name">משתמש מנהל</span>
            <span class="logout">התנתק</span>
          </div>
        }
      </div>
    </div>
  </div>
